<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kunlong.dongxw.manager.dao.DictDatatypeMapper" >
	<resultMap id="BaseResultMap" type="com.kunlong.dongxw.manager.domain.DictDatatype" >
	    <id column="data_inner_id" property="dataInnerId" jdbcType="INTEGER" />	
	  	<result column="type_id" property="typeId" jdbcType="INTEGER" />
	  	<result column="type_name" property="typeName" jdbcType="VARCHAR" />
	  	<result column="data_id" property="dataId" jdbcType="INTEGER" />
	  	<result column="data_name" property="dataName" jdbcType="VARCHAR" />
	  	<result column="remark" property="remark" jdbcType="VARCHAR" />
	  	<result column="create_by" property="createBy" jdbcType="INTEGER" />
	  	<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    </resultMap>
    <resultMap id="BaseResultMap_DictDatatype" type="com.kunlong.dongxw.manager.domain.DictDatatype" >
	    <id column="dd_data_inner_id" property="dataInnerId" jdbcType="INTEGER" />	
	  	<result column="dd_type_id" property="typeId" jdbcType="INTEGER" />
	  	<result column="dd_type_name" property="typeName" jdbcType="VARCHAR" />
	  	<result column="dd_data_id" property="dataId" jdbcType="INTEGER" />
	  	<result column="dd_data_name" property="dataName" jdbcType="VARCHAR" />
	  	<result column="dd_remark" property="remark" jdbcType="VARCHAR" />
	  	<result column="dd_create_by" property="createBy" jdbcType="INTEGER" />
	  	<result column="dd_create_time" property="createTime" jdbcType="TIMESTAMP" />
    </resultMap>
    <sql id="Base_Column_List" >
  		data_inner_id,type_id,type_name,data_id,data_name,remark,create_by,create_time
	</sql>
  	<sql id="Base_Column_List_DictDatatype" >
  		dd.data_inner_id dd_data_inner_id,dd.type_id dd_type_id,dd.type_name dd_type_name,dd.data_id dd_data_id,dd.data_name dd_data_name,dd.remark dd_remark,dd.create_by dd_create_by,dd.create_time dd_create_time
	</sql>
	
	<!-- 系统自定义 -->
	<!-- 实体参数查询结果[START] -->
	<resultMap id="ResultMap_FindByQueryParam" type="com.kunlong.dongxw.manager.domain.DictDatatype" extends="BaseResultMap_DictDatatype">
		
	</resultMap>

	<sql id="Condition_FindByQueryParam">
		<if test="queryParam.param!=null">
			<bind name="p" value="queryParam.param"/>
			<if test="p.dataInnerId!=null ">
		    	and dd.data_inner_id=#{p.dataInnerId}
		    </if>
			<if test="p.typeId!=null ">
		    	and dd.type_id=#{p.typeId}
		    </if>
			<if test="p.typeName!=null and p.typeName!=''">
		    	and dd.type_name like #{p.typeName}
		    </if>
			<if test="p.dataId!=null ">
		    	and dd.data_id=#{p.dataId}
		    </if>
			<if test="p.dataName!=null and p.dataName!=''">
		    	and dd.data_name like #{p.dataName}
		    </if>
			<if test="p.remark!=null and p.remark!=''">
		    	and dd.remark like #{p.remark}
		    </if>
			<if test="p.createBy!=null ">
		    	and dd.create_by=#{p.createBy}
		    </if>
			<if test="p.createTime!=null ">
		    	and dd.create_time=#{p.createTime}
		    </if>
		</if>
		<!--
		<bind name="rp" value="queryParam.ruleParam" />
		<include refid="org.mybatis.hbatis.orm.mapper.HbatisMapper.RuleParam"/>
		-->
	</sql>
	<select id="findByQueryParam" resultMap="ResultMap_FindByQueryParam">
		select
		<include refid="Base_Column_List_DictDatatype"></include>
		from dict_datatype dd where 1=1
		<include refid="Condition_FindByQueryParam"></include>
		<if test="queryParam.sortOrders!=null and queryParam.sortOrders.size() gt 0">
			order by 
			<foreach collection="queryParam.sortOrders" item="item" separator=",">
				${item.sortField.sqlColumn} ${item.sortType}
			</foreach>
		</if>
		<if test="queryParam.limit gt 0">
	  		limit ${queryParam.start},${queryParam.limit}
	  	</if>
	</select>
	<select id="countByQueryParam" resultType="long">
		select count(1) from dict_datatype dd where 1=1
		<include refid="Condition_FindByQueryParam"></include>
	</select>
	
	<!-- 实体参数查询结果[END] -->
	<!-- 用户自定义 -->
	
</mapper>