<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kunlong.dongxw.dongxw.dao.ProductMapper" >
	<resultMap id="BaseResultMap" type="com.kunlong.dongxw.dongxw.domain.Product" >
	    <id column="id" property="id" jdbcType="INTEGER" />	
	  	<result column="ep_code" property="epCode" jdbcType="VARCHAR" />
	  	<result column="code" property="code" jdbcType="VARCHAR" />
	  	<result column="remark" property="remark" jdbcType="VARCHAR" />
	  	<result column="parent_id" property="parentId" jdbcType="INTEGER" />
	  	<result column="product_type_id" property="productTypeId" jdbcType="INTEGER" />
	  	<result column="pic_url" property="picUrl" jdbcType="VARCHAR" />
	  	<result column="bar_code" property="barCode" jdbcType="VARCHAR" />
	  	<result column="color" property="color" jdbcType="VARCHAR" />
	  	<result column="unit" property="unit" jdbcType="VARCHAR" />
	  	<result column="size" property="size" jdbcType="VARCHAR" />
	  	<result column="upc_a" property="upcA" jdbcType="VARCHAR" />
	  	<result column="status" property="status" jdbcType="INTEGER" />
	  	<result column="memo" property="memo" jdbcType="VARCHAR" />
	  	<result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
	  	<result column="create_by" property="createBy" jdbcType="INTEGER" />
	  	<result column="customer_id" property="customerId" jdbcType="INTEGER" />
	  	<result column="img_urls" property="imgUrls" jdbcType="VARCHAR" />
	  	<result column="ib_qty" property="ibQty" jdbcType="INTEGER" />
	  	<result column="ib_gw" property="ibGw" jdbcType="DECIMAL" />
	  	<result column="ib_nw" property="ibNw" jdbcType="DECIMAL" />
	  	<result column="ib_size" property="ibSize" jdbcType="VARCHAR" />
	  	<result column="ob_qty" property="obQty" jdbcType="INTEGER" />
	  	<result column="ob_gw" property="obGw" jdbcType="DECIMAL" />
	  	<result column="ob_nw" property="obNw" jdbcType="DECIMAL" />
	  	<result column="ob_size" property="obSize" jdbcType="VARCHAR" />
	  	<result column="pkg_front" property="pkgFront" jdbcType="VARCHAR" />
	  	<result column="pkg_side" property="pkgSide" jdbcType="VARCHAR" />
	  	<result column="pkg_remark" property="pkgRemark" jdbcType="VARCHAR" />
	  	<result column="img_remark" property="imgRemark" jdbcType="VARCHAR" />
	  	<result column="name" property="name" jdbcType="VARCHAR" />
	  	<result column="prd_flag" property="prdFlag" jdbcType="SMALLINT" />
    </resultMap>
    <resultMap id="BaseResultMap_Product" type="com.kunlong.dongxw.dongxw.domain.Product" >
	    <id column="p_id" property="id" jdbcType="INTEGER" />	
	  	<result column="p_ep_code" property="epCode" jdbcType="VARCHAR" />
	  	<result column="p_code" property="code" jdbcType="VARCHAR" />
	  	<result column="p_remark" property="remark" jdbcType="VARCHAR" />
	  	<result column="p_parent_id" property="parentId" jdbcType="INTEGER" />
	  	<result column="p_product_type_id" property="productTypeId" jdbcType="INTEGER" />
	  	<result column="p_pic_url" property="picUrl" jdbcType="VARCHAR" />
	  	<result column="p_bar_code" property="barCode" jdbcType="VARCHAR" />
	  	<result column="p_color" property="color" jdbcType="VARCHAR" />
	  	<result column="p_unit" property="unit" jdbcType="VARCHAR" />
	  	<result column="p_size" property="size" jdbcType="VARCHAR" />
	  	<result column="p_upc_a" property="upcA" jdbcType="VARCHAR" />
	  	<result column="p_status" property="status" jdbcType="INTEGER" />
	  	<result column="p_memo" property="memo" jdbcType="VARCHAR" />
	  	<result column="p_create_date" property="createDate" jdbcType="TIMESTAMP" />
	  	<result column="p_create_by" property="createBy" jdbcType="INTEGER" />
	  	<result column="p_customer_id" property="customerId" jdbcType="INTEGER" />
	  	<result column="p_img_urls" property="imgUrls" jdbcType="VARCHAR" />
	  	<result column="p_ib_qty" property="ibQty" jdbcType="INTEGER" />
	  	<result column="p_ib_gw" property="ibGw" jdbcType="DECIMAL" />
	  	<result column="p_ib_nw" property="ibNw" jdbcType="DECIMAL" />
	  	<result column="p_ib_size" property="ibSize" jdbcType="VARCHAR" />
	  	<result column="p_ob_qty" property="obQty" jdbcType="INTEGER" />
	  	<result column="p_ob_gw" property="obGw" jdbcType="DECIMAL" />
	  	<result column="p_ob_nw" property="obNw" jdbcType="DECIMAL" />
	  	<result column="p_ob_size" property="obSize" jdbcType="VARCHAR" />
	  	<result column="p_pkg_front" property="pkgFront" jdbcType="VARCHAR" />
	  	<result column="p_pkg_side" property="pkgSide" jdbcType="VARCHAR" />
	  	<result column="p_pkg_remark" property="pkgRemark" jdbcType="VARCHAR" />
	  	<result column="p_img_remark" property="imgRemark" jdbcType="VARCHAR" />
	  	<result column="p_name" property="name" jdbcType="VARCHAR" />
	  	<result column="p_prd_flag" property="prdFlag" jdbcType="SMALLINT" />
    </resultMap>
    <sql id="Base_Column_List" >
  		id,ep_code,code,remark,parent_id,product_type_id,pic_url,bar_code,color,unit,size,upc_a,status,memo,create_date,create_by,customer_id,img_urls,ib_qty,ib_gw,ib_nw,ib_size,ob_qty,ob_gw,ob_nw,ob_size,pkg_front,pkg_side,pkg_remark,img_remark,name,prd_flag
	</sql>
  	<sql id="Base_Column_List_Product" >
  		p.id p_id,p.ep_code p_ep_code,p.code p_code,p.remark p_remark,p.parent_id p_parent_id,p.product_type_id p_product_type_id,p.pic_url p_pic_url,p.bar_code p_bar_code,p.color p_color,p.unit p_unit,p.size p_size,p.upc_a p_upc_a,p.status p_status,p.memo p_memo,p.create_date p_create_date,p.create_by p_create_by,p.customer_id p_customer_id,p.img_urls p_img_urls,p.ib_qty p_ib_qty,p.ib_gw p_ib_gw,p.ib_nw p_ib_nw,p.ib_size p_ib_size,p.ob_qty p_ob_qty,p.ob_gw p_ob_gw,p.ob_nw p_ob_nw,p.ob_size p_ob_size,p.pkg_front p_pkg_front,p.pkg_side p_pkg_side,p.pkg_remark p_pkg_remark,p.img_remark p_img_remark,p.name p_name,p.prd_flag p_prd_flag
	</sql>
	
	<!-- 系统自定义 -->
	<!-- 实体参数查询结果[START] -->
	<resultMap id="ResultMap_FindByQueryParam" type="com.kunlong.dongxw.dongxw.domain.Product" extends="BaseResultMap_Product">
		
	</resultMap>

	<sql id="Condition_FindByQueryParam">
		<if test="queryParam.param!=null">
			<bind name="p" value="queryParam.param"/>
			<if test="p.id!=null ">
		    	and p.id=#{p.id}
		    </if>
			<if test="p.epCode!=null and p.epCode!=''">
		    	and p.ep_code like #{p.epCode}
		    </if>
			<if test="p.code!=null and p.code!=''">
		    	and p.code like #{p.code}
		    </if>
			<if test="p.remark!=null and p.remark!=''">
		    	and p.remark like #{p.remark}
		    </if>
			<if test="p.parentId!=null ">
		    	and p.parent_id=#{p.parentId}
		    </if>
			<if test="p.productTypeId!=null ">
		    	and p.product_type_id=#{p.productTypeId}
		    </if>
			<if test="p.picUrl!=null and p.picUrl!=''">
		    	and p.pic_url like #{p.picUrl}
		    </if>
			<if test="p.barCode!=null and p.barCode!=''">
		    	and p.bar_code like #{p.barCode}
		    </if>
			<if test="p.color!=null and p.color!=''">
		    	and p.color like #{p.color}
		    </if>
			<if test="p.unit!=null and p.unit!=''">
		    	and p.unit like #{p.unit}
		    </if>
			<if test="p.size!=null and p.size!=''">
		    	and p.size like #{p.size}
		    </if>
			<if test="p.upcA!=null and p.upcA!=''">
		    	and p.upc_a like #{p.upcA}
		    </if>
			<if test="p.status!=null ">
		    	and p.status=#{p.status}
		    </if>
			<if test="p.memo!=null and p.memo!=''">
		    	and p.memo like #{p.memo}
		    </if>
			<if test="p.createDate!=null ">
		    	and p.create_date=#{p.createDate}
		    </if>
			<if test="p.createBy!=null ">
		    	and p.create_by=#{p.createBy}
		    </if>
			<if test="p.customerId!=null ">
		    	and p.customer_id=#{p.customerId}
		    </if>
			<if test="p.imgUrls!=null and p.imgUrls!=''">
		    	and p.img_urls like #{p.imgUrls}
		    </if>
			<if test="p.ibQty!=null ">
		    	and p.ib_qty=#{p.ibQty}
		    </if>
			<if test="p.ibGw!=null ">
		    	and p.ib_gw=#{p.ibGw}
		    </if>
			<if test="p.ibNw!=null ">
		    	and p.ib_nw=#{p.ibNw}
		    </if>
			<if test="p.ibSize!=null and p.ibSize!=''">
		    	and p.ib_size like #{p.ibSize}
		    </if>
			<if test="p.obQty!=null ">
		    	and p.ob_qty=#{p.obQty}
		    </if>
			<if test="p.obGw!=null ">
		    	and p.ob_gw=#{p.obGw}
		    </if>
			<if test="p.obNw!=null ">
		    	and p.ob_nw=#{p.obNw}
		    </if>
			<if test="p.obSize!=null and p.obSize!=''">
		    	and p.ob_size like #{p.obSize}
		    </if>
			<if test="p.pkgFront!=null and p.pkgFront!=''">
		    	and p.pkg_front like #{p.pkgFront}
		    </if>
			<if test="p.pkgSide!=null and p.pkgSide!=''">
		    	and p.pkg_side like #{p.pkgSide}
		    </if>
			<if test="p.pkgRemark!=null and p.pkgRemark!=''">
		    	and p.pkg_remark like #{p.pkgRemark}
		    </if>
			<if test="p.imgRemark!=null and p.imgRemark!=''">
		    	and p.img_remark like #{p.imgRemark}
		    </if>
			<if test="p.name!=null and p.name!=''">
		    	and p.name like #{p.name}
		    </if>
			<if test="p.prdFlag!=null ">
		    	and p.prd_flag=#{p.prdFlag}
		    </if>
		</if>
		<!--
		<bind name="rp" value="queryParam.ruleParam" />
		<include refid="org.mybatis.hbatis.orm.mapper.HbatisMapper.RuleParam"/>
		-->
	</sql>
	<select id="findByQueryParam" resultMap="ResultMap_FindByQueryParam">
		select
		<include refid="Base_Column_List_Product"></include>
		from product p where 1=1
		<include refid="Condition_FindByQueryParam"></include>
		<if test="queryParam.sortOrders!=null and queryParam.sortOrders.size() gt 0">
			order by 
			<foreach collection="queryParam.sortOrders" item="item" separator=",">
				${item.sortField.sqlColumn} ${item.sortType}
			</foreach>
		</if>
		<if test="queryParam.limit gt 0">
	  		limit ${queryParam.start},${queryParam.limit}
	  	</if>
	</select>
	<select id="countByQueryParam" resultType="long">
		select count(1) from product p where 1=1
		<include refid="Condition_FindByQueryParam"></include>
	</select>
	
	<!-- 实体参数查询结果[END] -->
	<!-- 用户自定义 -->
	
</mapper>