<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kunlong.dongxw.data.dao.OrderMasterMapper" >
	<resultMap id="BaseResultMap" type="com.kunlong.dongxw.data.domain.OrderMaster" >
	    <id column="id" property="id" jdbcType="INTEGER" />	
	  	<result column="customer_id" property="customerId" jdbcType="INTEGER" />
	  	<result column="business_by" property="businessBy" jdbcType="VARCHAR" />
	  	<result column="status" property="status" jdbcType="INTEGER" />
	  	<result column="customer_order_code" property="customerOrderCode" jdbcType="VARCHAR" />
	  	<result column="ep_order_code" property="epOrderCode" jdbcType="VARCHAR" />
	  	<result column="money_type" property="moneyType" jdbcType="INTEGER" />
	  	<result column="invoice_no_ini" property="invoiceNoIni" jdbcType="VARCHAR" />
	  	<result column="invoice_no" property="invoiceNo" jdbcType="VARCHAR" />
	  	<result column="order_date" property="orderDate" jdbcType="DATE" />
	  	<result column="customer_issue_date" property="customerIssueDate" jdbcType="DATE" />
	  	<result column="check_date" property="checkDate" jdbcType="DATE" />
	  	<result column="factroy_issue_date" property="factroyIssueDate" jdbcType="DATE" />
	  	<result column="customer_order_img" property="customerOrderImg" jdbcType="VARCHAR" />
	  	<result column="create_by" property="createBy" jdbcType="INTEGER" />
	  	<result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
	  	<result column="remark" property="remark" jdbcType="VARCHAR" />
	  	<result column="invoice_id_ini" property="invoiceIdIni" jdbcType="BIGINT" />
	  	<result column="invoice_id" property="invoiceId" jdbcType="BIGINT" />
	  	<result column="parent_id" property="parentId" jdbcType="INTEGER" />
	  	<result column="order_type" property="orderType" jdbcType="INTEGER" />
	  	<result column="include_tax" property="includeTax" jdbcType="BIT" />
	  	<result column="total_money" property="totalMoney" jdbcType="DECIMAL" />
	  	<result column="order_money" property="orderMoney" jdbcType="DECIMAL" />
	  	<result column="pay_mode" property="payMode" jdbcType="VARCHAR" />
	  	<result column="pay_memo" property="payMemo" jdbcType="VARCHAR" />
    </resultMap>
    <resultMap id="BaseResultMap_OrderMaster" type="com.kunlong.dongxw.data.domain.OrderMaster" >
	    <id column="om_id" property="id" jdbcType="INTEGER" />	
	  	<result column="om_customer_id" property="customerId" jdbcType="INTEGER" />
	  	<result column="om_business_by" property="businessBy" jdbcType="VARCHAR" />
	  	<result column="om_status" property="status" jdbcType="INTEGER" />
	  	<result column="om_customer_order_code" property="customerOrderCode" jdbcType="VARCHAR" />
	  	<result column="om_ep_order_code" property="epOrderCode" jdbcType="VARCHAR" />
	  	<result column="om_money_type" property="moneyType" jdbcType="INTEGER" />
	  	<result column="om_invoice_no_ini" property="invoiceNoIni" jdbcType="VARCHAR" />
	  	<result column="om_invoice_no" property="invoiceNo" jdbcType="VARCHAR" />
	  	<result column="om_order_date" property="orderDate" jdbcType="DATE" />
	  	<result column="om_customer_issue_date" property="customerIssueDate" jdbcType="DATE" />
	  	<result column="om_check_date" property="checkDate" jdbcType="DATE" />
	  	<result column="om_factroy_issue_date" property="factroyIssueDate" jdbcType="DATE" />
	  	<result column="om_customer_order_img" property="customerOrderImg" jdbcType="VARCHAR" />
	  	<result column="om_create_by" property="createBy" jdbcType="INTEGER" />
	  	<result column="om_create_date" property="createDate" jdbcType="TIMESTAMP" />
	  	<result column="om_remark" property="remark" jdbcType="VARCHAR" />
	  	<result column="om_invoice_id_ini" property="invoiceIdIni" jdbcType="BIGINT" />
	  	<result column="om_invoice_id" property="invoiceId" jdbcType="BIGINT" />
	  	<result column="om_parent_id" property="parentId" jdbcType="INTEGER" />
	  	<result column="om_order_type" property="orderType" jdbcType="INTEGER" />
	  	<result column="om_include_tax" property="includeTax" jdbcType="BIT" />
	  	<result column="om_total_money" property="totalMoney" jdbcType="DECIMAL" />
	  	<result column="om_order_money" property="orderMoney" jdbcType="DECIMAL" />
	  	<result column="om_pay_mode" property="payMode" jdbcType="VARCHAR" />
	  	<result column="om_pay_memo" property="payMemo" jdbcType="VARCHAR" />
    </resultMap>
    <sql id="Base_Column_List" >
  		id,customer_id,business_by,status,customer_order_code,ep_order_code,money_type,invoice_no_ini,invoice_no,order_date,customer_issue_date,check_date,factroy_issue_date,customer_order_img,create_by,create_date,remark,invoice_id_ini,invoice_id,parent_id,order_type,include_tax,total_money,order_money,pay_mode,pay_memo
	</sql>
  	<sql id="Base_Column_List_OrderMaster" >
  		om.id om_id,om.customer_id om_customer_id,om.business_by om_business_by,om.status om_status,om.customer_order_code om_customer_order_code,om.ep_order_code om_ep_order_code,om.money_type om_money_type,om.invoice_no_ini om_invoice_no_ini,om.invoice_no om_invoice_no,om.order_date om_order_date,om.customer_issue_date om_customer_issue_date,om.check_date om_check_date,om.factroy_issue_date om_factroy_issue_date,om.customer_order_img om_customer_order_img,om.create_by om_create_by,om.create_date om_create_date,om.remark om_remark,om.invoice_id_ini om_invoice_id_ini,om.invoice_id om_invoice_id,om.parent_id om_parent_id,om.order_type om_order_type,om.include_tax om_include_tax,om.total_money om_total_money,om.order_money om_order_money,om.pay_mode om_pay_mode,om.pay_memo om_pay_memo
	</sql>
	
	<!-- 系统自定义 -->
	<!-- 实体参数查询结果[START] -->
	<resultMap id="ResultMap_FindByQueryParam" type="com.kunlong.dongxw.data.domain.OrderMaster" extends="BaseResultMap_OrderMaster">
		
	</resultMap>

	<sql id="Condition_FindByQueryParam">
		<if test="queryParam.param!=null">
			<bind name="p" value="queryParam.param"/>
			<if test="p.id!=null ">
		    	and om.id=#{p.id}
		    </if>
			<if test="p.customerId!=null ">
		    	and om.customer_id=#{p.customerId}
		    </if>
			<if test="p.businessBy!=null and p.businessBy!=''">
		    	and om.business_by like #{p.businessBy}
		    </if>
			<if test="p.status!=null ">
		    	and om.status=#{p.status}
		    </if>
			<if test="p.customerOrderCode!=null and p.customerOrderCode!=''">
		    	and om.customer_order_code like #{p.customerOrderCode}
		    </if>
			<if test="p.epOrderCode!=null and p.epOrderCode!=''">
		    	and om.ep_order_code like #{p.epOrderCode}
		    </if>
			<if test="p.moneyType!=null ">
		    	and om.money_type=#{p.moneyType}
		    </if>
			<if test="p.invoiceNoIni!=null and p.invoiceNoIni!=''">
		    	and om.invoice_no_ini like #{p.invoiceNoIni}
		    </if>
			<if test="p.invoiceNo!=null and p.invoiceNo!=''">
		    	and om.invoice_no like #{p.invoiceNo}
		    </if>
			<if test="p.orderDate!=null ">
		    	and om.order_date=#{p.orderDate}
		    </if>
			<if test="p.customerIssueDate!=null ">
		    	and om.customer_issue_date=#{p.customerIssueDate}
		    </if>
			<if test="p.checkDate!=null ">
		    	and om.check_date=#{p.checkDate}
		    </if>
			<if test="p.factroyIssueDate!=null ">
		    	and om.factroy_issue_date=#{p.factroyIssueDate}
		    </if>
			<if test="p.customerOrderImg!=null and p.customerOrderImg!=''">
		    	and om.customer_order_img like #{p.customerOrderImg}
		    </if>
			<if test="p.createBy!=null ">
		    	and om.create_by=#{p.createBy}
		    </if>
			<if test="p.createDate!=null ">
		    	and om.create_date=#{p.createDate}
		    </if>
			<if test="p.remark!=null and p.remark!=''">
		    	and om.remark like #{p.remark}
		    </if>
			<if test="p.invoiceIdIni!=null ">
		    	and om.invoice_id_ini=#{p.invoiceIdIni}
		    </if>
			<if test="p.invoiceId!=null ">
		    	and om.invoice_id=#{p.invoiceId}
		    </if>
			<if test="p.parentId!=null ">
		    	and om.parent_id=#{p.parentId}
		    </if>
			<if test="p.orderType!=null ">
		    	and om.order_type=#{p.orderType}
		    </if>
			<if test="p.includeTax!=null ">
		    	and om.include_tax=#{p.includeTax}
		    </if>
			<if test="p.totalMoney!=null ">
		    	and om.total_money=#{p.totalMoney}
		    </if>
			<if test="p.orderMoney!=null ">
		    	and om.order_money=#{p.orderMoney}
		    </if>
			<if test="p.payMode!=null and p.payMode!=''">
		    	and om.pay_mode like #{p.payMode}
		    </if>
			<if test="p.payMemo!=null and p.payMemo!=''">
		    	and om.pay_memo like #{p.payMemo}
		    </if>
		</if>
		<!--
		<bind name="rp" value="queryParam.ruleParam" />
		<include refid="org.mybatis.hbatis.orm.mapper.HbatisMapper.RuleParam"/>
		-->
	</sql>
	<select id="findByQueryParam" resultMap="ResultMap_FindByQueryParam">
		select
		<include refid="Base_Column_List_OrderMaster"></include>
		from order_master om where 1=1
		<include refid="Condition_FindByQueryParam"></include>
		<if test="queryParam.sortOrders!=null and queryParam.sortOrders.size() gt 0">
			order by 
			<foreach collection="queryParam.sortOrders" item="item" separator=",">
				${item.sortField.sqlColumn} ${item.sortType}
			</foreach>
		</if>
		<if test="queryParam.limit gt 0">
	  		limit ${queryParam.start},${queryParam.limit}
	  	</if>
	</select>
	<select id="countByQueryParam" resultType="long">
		select count(1) from order_master om where 1=1
		<include refid="Condition_FindByQueryParam"></include>
	</select>
	
	<!-- 实体参数查询结果[END] -->
	<!-- 用户自定义 -->
	
</mapper>