<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kunlong.dongxw.data.dao.OrderLineMapper" >
	<resultMap id="BaseResultMap" type="com.kunlong.dongxw.data.domain.OrderLine" >
	    <id column="id" property="id" jdbcType="INTEGER" />	
	  	<result column="customer_id" property="customerId" jdbcType="INTEGER" />
	  	<result column="order_id" property="orderId" jdbcType="INTEGER" />
	  	<result column="parent_id" property="parentId" jdbcType="INTEGER" />
	  	<result column="product_type_id" property="productTypeId" jdbcType="INTEGER" />
	  	<result column="product_id" property="productId" jdbcType="INTEGER" />
	  	<result column="qty" property="qty" jdbcType="INTEGER" />
	  	<result column="price" property="price" jdbcType="DECIMAL" />
	  	<result column="money" property="money" jdbcType="DECIMAL" />
	  	<result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
	  	<result column="create_by" property="createBy" jdbcType="INTEGER" />
	  	<result column="remark" property="remark" jdbcType="VARCHAR" />
	  	<result column="status" property="status" jdbcType="BIT" />
	  	<result column="currency" property="currency" jdbcType="VARCHAR" />
    </resultMap>
    <resultMap id="BaseResultMap_OrderLine" type="com.kunlong.dongxw.data.domain.OrderLine" >
	    <id column="ol_id" property="id" jdbcType="INTEGER" />	
	  	<result column="ol_customer_id" property="customerId" jdbcType="INTEGER" />
	  	<result column="ol_order_id" property="orderId" jdbcType="INTEGER" />
	  	<result column="ol_parent_id" property="parentId" jdbcType="INTEGER" />
	  	<result column="ol_product_type_id" property="productTypeId" jdbcType="INTEGER" />
	  	<result column="ol_product_id" property="productId" jdbcType="INTEGER" />
	  	<result column="ol_qty" property="qty" jdbcType="INTEGER" />
	  	<result column="ol_price" property="price" jdbcType="DECIMAL" />
	  	<result column="ol_money" property="money" jdbcType="DECIMAL" />
	  	<result column="ol_create_date" property="createDate" jdbcType="TIMESTAMP" />
	  	<result column="ol_create_by" property="createBy" jdbcType="INTEGER" />
	  	<result column="ol_remark" property="remark" jdbcType="VARCHAR" />
	  	<result column="ol_status" property="status" jdbcType="BIT" />
	  	<result column="ol_currency" property="currency" jdbcType="VARCHAR" />
    </resultMap>
    <sql id="Base_Column_List" >
  		id,customer_id,order_id,parent_id,product_type_id,product_id,qty,price,money,create_date,create_by,remark,status,currency
	</sql>
  	<sql id="Base_Column_List_OrderLine" >
  		ol.id ol_id,ol.customer_id ol_customer_id,ol.order_id ol_order_id,ol.parent_id ol_parent_id,ol.product_type_id ol_product_type_id,ol.product_id ol_product_id,ol.qty ol_qty,ol.price ol_price,ol.money ol_money,ol.create_date ol_create_date,ol.create_by ol_create_by,ol.remark ol_remark,ol.status ol_status,ol.currency ol_currency
	</sql>
	
	<!-- 系统自定义 -->
	<!-- 实体参数查询结果[START] -->
	<resultMap id="ResultMap_FindByQueryParam" type="com.kunlong.dongxw.data.domain.OrderLine" extends="BaseResultMap_OrderLine">
		
	</resultMap>

	<sql id="Condition_FindByQueryParam">
		<if test="queryParam.param!=null">
			<bind name="p" value="queryParam.param"/>
			<if test="p.id!=null ">
		    	and ol.id=#{p.id}
		    </if>
			<if test="p.customerId!=null ">
		    	and ol.customer_id=#{p.customerId}
		    </if>
			<if test="p.orderId!=null ">
		    	and ol.order_id=#{p.orderId}
		    </if>
			<if test="p.parentId!=null ">
		    	and ol.parent_id=#{p.parentId}
		    </if>
			<if test="p.productTypeId!=null ">
		    	and ol.product_type_id=#{p.productTypeId}
		    </if>
			<if test="p.productId!=null ">
		    	and ol.product_id=#{p.productId}
		    </if>
			<if test="p.qty!=null ">
		    	and ol.qty=#{p.qty}
		    </if>
			<if test="p.price!=null ">
		    	and ol.price=#{p.price}
		    </if>
			<if test="p.money!=null ">
		    	and ol.money=#{p.money}
		    </if>
			<if test="p.createDate!=null ">
		    	and ol.create_date=#{p.createDate}
		    </if>
			<if test="p.createBy!=null ">
		    	and ol.create_by=#{p.createBy}
		    </if>
			<if test="p.remark!=null and p.remark!=''">
		    	and ol.remark like #{p.remark}
		    </if>
			<if test="p.status!=null ">
		    	and ol.status=#{p.status}
		    </if>
			<if test="p.currency!=null and p.currency!=''">
		    	and ol.currency like #{p.currency}
		    </if>
		</if>
		<!--
		<bind name="rp" value="queryParam.ruleParam" />
		<include refid="org.mybatis.hbatis.orm.mapper.HbatisMapper.RuleParam"/>
		-->
	</sql>
	<select id="findByQueryParam" resultMap="ResultMap_FindByQueryParam">
		select
		<include refid="Base_Column_List_OrderLine"></include>
		from order_line ol where 1=1
		<include refid="Condition_FindByQueryParam"></include>
		<if test="queryParam.sortOrders!=null and queryParam.sortOrders.size() gt 0">
			order by 
			<foreach collection="queryParam.sortOrders" item="item" separator=",">
				${item.sortField.sqlColumn} ${item.sortType}
			</foreach>
		</if>
		<if test="queryParam.limit gt 0">
	  		limit ${queryParam.start},${queryParam.limit}
	  	</if>
	</select>
	<select id="countByQueryParam" resultType="long">
		select count(1) from order_line ol where 1=1
		<include refid="Condition_FindByQueryParam"></include>
	</select>
	
	<!-- 实体参数查询结果[END] -->
	<!-- 用户自定义 -->
	
</mapper>