<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kunlong.dongxw.data.dao.BomMapper" >
	<resultMap id="BaseResultMap" type="com.kunlong.dongxw.data.domain.Bom" >
	    <id column="id" property="id" jdbcType="INTEGER" />	
	  	<result column="product_id" property="productId" jdbcType="INTEGER" />
	  	<result column="parent_id" property="parentId" jdbcType="INTEGER" />
	  	<result column="big_type" property="bigType" jdbcType="INTEGER" />
	  	<result column="small_type" property="smallType" jdbcType="INTEGER" />
	  	<result column="child_id" property="childId" jdbcType="INTEGER" />
	  	<result column="unit" property="unit" jdbcType="VARCHAR" />
	  	<result column="qty" property="qty" jdbcType="DECIMAL" />
	  	<result column="price" property="price" jdbcType="DECIMAL" />
	  	<result column="money" property="money" jdbcType="DECIMAL" />
	  	<result column="loss_type" property="lossType" jdbcType="INTEGER" />
	  	<result column="loss_qty" property="lossQty" jdbcType="SMALLINT" />
	  	<result column="size_l" property="sizeL" jdbcType="DECIMAL" />
	  	<result column="size_x" property="sizeX" jdbcType="VARCHAR" />
	  	<result column="size_w" property="sizeW" jdbcType="DECIMAL" />
	  	<result column="length" property="length" jdbcType="INTEGER" />
	  	<result column="width" property="width" jdbcType="INTEGER" />
	  	<result column="knife_qty" property="knifeQty" jdbcType="SMALLINT" />
	  	<result column="depth" property="depth" jdbcType="SMALLINT" />
	  	<result column="source" property="source" jdbcType="TINYINT" />
	  	<result column="create_by" property="createBy" jdbcType="INTEGER" />
	  	<result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    </resultMap>
    <resultMap id="BaseResultMap_Bom" type="com.kunlong.dongxw.data.domain.Bom" >
	    <id column="b_id" property="id" jdbcType="INTEGER" />	
	  	<result column="b_product_id" property="productId" jdbcType="INTEGER" />
	  	<result column="b_parent_id" property="parentId" jdbcType="INTEGER" />
	  	<result column="b_big_type" property="bigType" jdbcType="INTEGER" />
	  	<result column="b_small_type" property="smallType" jdbcType="INTEGER" />
	  	<result column="b_child_id" property="childId" jdbcType="INTEGER" />
	  	<result column="b_unit" property="unit" jdbcType="VARCHAR" />
	  	<result column="b_qty" property="qty" jdbcType="DECIMAL" />
	  	<result column="b_price" property="price" jdbcType="DECIMAL" />
	  	<result column="b_money" property="money" jdbcType="DECIMAL" />
	  	<result column="b_loss_type" property="lossType" jdbcType="INTEGER" />
	  	<result column="b_loss_qty" property="lossQty" jdbcType="SMALLINT" />
	  	<result column="b_size_l" property="sizeL" jdbcType="DECIMAL" />
	  	<result column="b_size_x" property="sizeX" jdbcType="VARCHAR" />
	  	<result column="b_size_w" property="sizeW" jdbcType="DECIMAL" />
	  	<result column="b_length" property="length" jdbcType="INTEGER" />
	  	<result column="b_width" property="width" jdbcType="INTEGER" />
	  	<result column="b_knife_qty" property="knifeQty" jdbcType="SMALLINT" />
	  	<result column="b_depth" property="depth" jdbcType="SMALLINT" />
	  	<result column="b_source" property="source" jdbcType="TINYINT" />
	  	<result column="b_create_by" property="createBy" jdbcType="INTEGER" />
	  	<result column="b_create_date" property="createDate" jdbcType="TIMESTAMP" />
    </resultMap>
    <sql id="Base_Column_List" >
  		id,product_id,parent_id,big_type,small_type,child_id,unit,qty,price,money,loss_type,loss_qty,size_l,size_x,size_w,length,width,knife_qty,depth,source,create_by,create_date
	</sql>
  	<sql id="Base_Column_List_Bom" >
  		b.id b_id,b.product_id b_product_id,b.parent_id b_parent_id,b.big_type b_big_type,b.small_type b_small_type,b.child_id b_child_id,b.unit b_unit,b.qty b_qty,b.price b_price,b.money b_money,b.loss_type b_loss_type,b.loss_qty b_loss_qty,b.size_l b_size_l,b.size_x b_size_x,b.size_w b_size_w,b.length b_length,b.width b_width,b.knife_qty b_knife_qty,b.depth b_depth,b.source b_source,b.create_by b_create_by,b.create_date b_create_date
	</sql>
	
	<!-- 系统自定义 -->
	<!-- 实体参数查询结果[START] -->
	<resultMap id="ResultMap_FindByQueryParam" type="com.kunlong.dongxw.data.domain.Bom" extends="BaseResultMap_Bom">
		
	</resultMap>

	<sql id="Condition_FindByQueryParam">
		<if test="queryParam.param!=null">
			<bind name="p" value="queryParam.param"/>
			<if test="p.id!=null ">
		    	and b.id=#{p.id}
		    </if>
			<if test="p.productId!=null ">
		    	and b.product_id=#{p.productId}
		    </if>
			<if test="p.parentId!=null ">
		    	and b.parent_id=#{p.parentId}
		    </if>
			<if test="p.bigType!=null ">
		    	and b.big_type=#{p.bigType}
		    </if>
			<if test="p.smallType!=null ">
		    	and b.small_type=#{p.smallType}
		    </if>
			<if test="p.childId!=null ">
		    	and b.child_id=#{p.childId}
		    </if>
			<if test="p.unit!=null and p.unit!=''">
		    	and b.unit like #{p.unit}
		    </if>
			<if test="p.qty!=null ">
		    	and b.qty=#{p.qty}
		    </if>
			<if test="p.price!=null ">
		    	and b.price=#{p.price}
		    </if>
			<if test="p.money!=null ">
		    	and b.money=#{p.money}
		    </if>
			<if test="p.lossType!=null ">
		    	and b.loss_type=#{p.lossType}
		    </if>
			<if test="p.lossQty!=null ">
		    	and b.loss_qty=#{p.lossQty}
		    </if>
			<if test="p.sizeL!=null ">
		    	and b.size_l=#{p.sizeL}
		    </if>
			<if test="p.sizeX!=null and p.sizeX!=''">
		    	and b.size_x like #{p.sizeX}
		    </if>
			<if test="p.sizeW!=null ">
		    	and b.size_w=#{p.sizeW}
		    </if>
			<if test="p.length!=null ">
		    	and b.length=#{p.length}
		    </if>
			<if test="p.width!=null ">
		    	and b.width=#{p.width}
		    </if>
			<if test="p.knifeQty!=null ">
		    	and b.knife_qty=#{p.knifeQty}
		    </if>
			<if test="p.depth!=null ">
		    	and b.depth=#{p.depth}
		    </if>
			<if test="p.source!=null ">
		    	and b.source=#{p.source}
		    </if>
			<if test="p.createBy!=null ">
		    	and b.create_by=#{p.createBy}
		    </if>
			<if test="p.createDate!=null ">
		    	and b.create_date=#{p.createDate}
		    </if>
		</if>
		<!--
		<bind name="rp" value="queryParam.ruleParam" />
		<include refid="org.mybatis.hbatis.orm.mapper.HbatisMapper.RuleParam"/>
		-->
	</sql>
	<select id="findByQueryParam" resultMap="ResultMap_FindByQueryParam">
		select
		<include refid="Base_Column_List_Bom"></include>
		from bom b where 1=1
		<include refid="Condition_FindByQueryParam"></include>
		<if test="queryParam.sortOrders!=null and queryParam.sortOrders.size() gt 0">
			order by 
			<foreach collection="queryParam.sortOrders" item="item" separator=",">
				${item.sortField.sqlColumn} ${item.sortType}
			</foreach>
		</if>
		<if test="queryParam.limit gt 0">
	  		limit ${queryParam.start},${queryParam.limit}
	  	</if>
	</select>
	<select id="countByQueryParam" resultType="long">
		select count(1) from bom b where 1=1
		<include refid="Condition_FindByQueryParam"></include>
	</select>
	
	<!-- 实体参数查询结果[END] -->
	<!-- 用户自定义 -->
	
</mapper>