<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kunlong.dongxw.dongxw.dao.OrderLineMapper" >
	<resultMap id="BaseResultMap" type="com.kunlong.dongxw.dongxw.domain.OrderLine" >
	    <id column="id" property="id" jdbcType="INTEGER" />	
	  	<result column="order_id" property="orderId" jdbcType="INTEGER" />
	  	<result column="parent_id" property="parentId" jdbcType="INTEGER" />
	  	<result column="product_type_id" property="productTypeId" jdbcType="INTEGER" />
	  	<result column="product_id" property="productId" jdbcType="INTEGER" />
	  	<result column="customer_code" property="customerCode" jdbcType="VARCHAR" />
	  	<result column="pic_url" property="picUrl" jdbcType="VARCHAR" />
	  	<result column="size" property="size" jdbcType="VARCHAR" />
	  	<result column="color" property="color" jdbcType="VARCHAR" />
	  	<result column="qty" property="qty" jdbcType="INTEGER" />
	  	<result column="unit" property="unit" jdbcType="VARCHAR" />
	  	<result column="price" property="price" jdbcType="DECIMAL" />
	  	<result column="currency" property="currency" jdbcType="VARCHAR" />
	  	<result column="money" property="money" jdbcType="DECIMAL" />
	  	<result column="supplier_id" property="supplierId" jdbcType="INTEGER" />
	  	<result column="material" property="material" jdbcType="VARCHAR" />
	  	<result column="ib_qty" property="ibQty" jdbcType="INTEGER" />
	  	<result column="ib_gw" property="ibGw" jdbcType="DECIMAL" />
	  	<result column="ib_nw" property="ibNw" jdbcType="DECIMAL" />
	  	<result column="ib_size" property="ibSize" jdbcType="VARCHAR" />
	  	<result column="ob_qty" property="obQty" jdbcType="INTEGER" />
	  	<result column="ob_gw" property="obGw" jdbcType="DECIMAL" />
	  	<result column="ob_nw" property="obNw" jdbcType="DECIMAL" />
	  	<result column="ob_size" property="obSize" jdbcType="VARCHAR" />
	  	<result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
	  	<result column="create_by" property="createBy" jdbcType="INTEGER" />
	  	<result column="remark" property="remark" jdbcType="VARCHAR" />
	  	<result column="status" property="status" jdbcType="TINYINT" />
    </resultMap>
    <resultMap id="BaseResultMap_OrderLine" type="com.kunlong.dongxw.dongxw.domain.OrderLine" >
	    <id column="ol_id" property="id" jdbcType="INTEGER" />	
	  	<result column="ol_order_id" property="orderId" jdbcType="INTEGER" />
	  	<result column="ol_parent_id" property="parentId" jdbcType="INTEGER" />
	  	<result column="ol_product_type_id" property="productTypeId" jdbcType="INTEGER" />
	  	<result column="ol_product_id" property="productId" jdbcType="INTEGER" />
	  	<result column="ol_customer_code" property="customerCode" jdbcType="VARCHAR" />
	  	<result column="ol_pic_url" property="picUrl" jdbcType="VARCHAR" />
	  	<result column="ol_size" property="size" jdbcType="VARCHAR" />
	  	<result column="ol_color" property="color" jdbcType="VARCHAR" />
	  	<result column="ol_qty" property="qty" jdbcType="INTEGER" />
	  	<result column="ol_unit" property="unit" jdbcType="VARCHAR" />
	  	<result column="ol_price" property="price" jdbcType="DECIMAL" />
	  	<result column="ol_currency" property="currency" jdbcType="VARCHAR" />
	  	<result column="ol_money" property="money" jdbcType="DECIMAL" />
	  	<result column="ol_supplier_id" property="supplierId" jdbcType="INTEGER" />
	  	<result column="ol_material" property="material" jdbcType="VARCHAR" />
	  	<result column="ol_ib_qty" property="ibQty" jdbcType="INTEGER" />
	  	<result column="ol_ib_gw" property="ibGw" jdbcType="DECIMAL" />
	  	<result column="ol_ib_nw" property="ibNw" jdbcType="DECIMAL" />
	  	<result column="ol_ib_size" property="ibSize" jdbcType="VARCHAR" />
	  	<result column="ol_ob_qty" property="obQty" jdbcType="INTEGER" />
	  	<result column="ol_ob_gw" property="obGw" jdbcType="DECIMAL" />
	  	<result column="ol_ob_nw" property="obNw" jdbcType="DECIMAL" />
	  	<result column="ol_ob_size" property="obSize" jdbcType="VARCHAR" />
	  	<result column="ol_create_date" property="createDate" jdbcType="TIMESTAMP" />
	  	<result column="ol_create_by" property="createBy" jdbcType="INTEGER" />
	  	<result column="ol_remark" property="remark" jdbcType="VARCHAR" />
	  	<result column="ol_status" property="status" jdbcType="TINYINT" />
    </resultMap>
    <sql id="Base_Column_List" >
  		id,order_id,parent_id,product_type_id,product_id,customer_code,pic_url,size,color,qty,unit,price,currency,money,supplier_id,material,ib_qty,ib_gw,ib_nw,ib_size,ob_qty,ob_gw,ob_nw,ob_size,create_date,create_by,remark,status
	</sql>
  	<sql id="Base_Column_List_OrderLine" >
  		ol.id ol_id,ol.order_id ol_order_id,ol.parent_id ol_parent_id,ol.product_type_id ol_product_type_id,ol.product_id ol_product_id,ol.customer_code ol_customer_code,ol.pic_url ol_pic_url,ol.size ol_size,ol.color ol_color,ol.qty ol_qty,ol.unit ol_unit,ol.price ol_price,ol.currency ol_currency,ol.money ol_money,ol.supplier_id ol_supplier_id,ol.material ol_material,ol.ib_qty ol_ib_qty,ol.ib_gw ol_ib_gw,ol.ib_nw ol_ib_nw,ol.ib_size ol_ib_size,ol.ob_qty ol_ob_qty,ol.ob_gw ol_ob_gw,ol.ob_nw ol_ob_nw,ol.ob_size ol_ob_size,ol.create_date ol_create_date,ol.create_by ol_create_by,ol.remark ol_remark,ol.status ol_status
	</sql>
	
	<!-- 系统自定义 -->
	<!-- 实体参数查询结果[START] -->
	<resultMap id="ResultMap_FindByQueryParam" type="com.kunlong.dongxw.dongxw.domain.OrderLine" extends="BaseResultMap_OrderLine">
		
	</resultMap>

	<sql id="Condition_FindByQueryParam">
		<if test="queryParam.param!=null">
			<bind name="p" value="queryParam.param"/>
			<if test="p.id!=null ">
		    	and ol.id=#{p.id}
		    </if>
			<if test="p.orderId!=null ">
		    	and ol.order_id=#{p.orderId}
		    </if>
			<if test="p.parentId!=null ">
		    	and ol.parent_id=#{p.parentId}
		    </if>
			<if test="p.productTypeId!=null ">
		    	and ol.product_type_id=#{p.productTypeId}
		    </if>
			<if test="p.productId!=null ">
		    	and ol.product_id=#{p.productId}
		    </if>
			<if test="p.customerCode!=null and p.customerCode!=''">
		    	and ol.customer_code like #{p.customerCode}
		    </if>
			<if test="p.picUrl!=null and p.picUrl!=''">
		    	and ol.pic_url like #{p.picUrl}
		    </if>
			<if test="p.size!=null and p.size!=''">
		    	and ol.size like #{p.size}
		    </if>
			<if test="p.color!=null and p.color!=''">
		    	and ol.color like #{p.color}
		    </if>
			<if test="p.qty!=null ">
		    	and ol.qty=#{p.qty}
		    </if>
			<if test="p.unit!=null and p.unit!=''">
		    	and ol.unit like #{p.unit}
		    </if>
			<if test="p.price!=null ">
		    	and ol.price=#{p.price}
		    </if>
			<if test="p.currency!=null and p.currency!=''">
		    	and ol.currency like #{p.currency}
		    </if>
			<if test="p.money!=null ">
		    	and ol.money=#{p.money}
		    </if>
			<if test="p.supplierId!=null ">
		    	and ol.supplier_id=#{p.supplierId}
		    </if>
			<if test="p.material!=null and p.material!=''">
		    	and ol.material like #{p.material}
		    </if>
			<if test="p.ibQty!=null ">
		    	and ol.ib_qty=#{p.ibQty}
		    </if>
			<if test="p.ibGw!=null ">
		    	and ol.ib_gw=#{p.ibGw}
		    </if>
			<if test="p.ibNw!=null ">
		    	and ol.ib_nw=#{p.ibNw}
		    </if>
			<if test="p.ibSize!=null and p.ibSize!=''">
		    	and ol.ib_size like #{p.ibSize}
		    </if>
			<if test="p.obQty!=null ">
		    	and ol.ob_qty=#{p.obQty}
		    </if>
			<if test="p.obGw!=null ">
		    	and ol.ob_gw=#{p.obGw}
		    </if>
			<if test="p.obNw!=null ">
		    	and ol.ob_nw=#{p.obNw}
		    </if>
			<if test="p.obSize!=null and p.obSize!=''">
		    	and ol.ob_size like #{p.obSize}
		    </if>
			<if test="p.createDate!=null ">
		    	and ol.create_date=#{p.createDate}
		    </if>
			<if test="p.createBy!=null ">
		    	and ol.create_by=#{p.createBy}
		    </if>
			<if test="p.remark!=null and p.remark!=''">
		    	and ol.remark like #{p.remark}
		    </if>
			<if test="p.status!=null ">
		    	and ol.status=#{p.status}
		    </if>
		</if>
		<!--
		<bind name="rp" value="queryParam.ruleParam" />
		<include refid="org.mybatis.hbatis.orm.mapper.HbatisMapper.RuleParam"/>
		-->
	</sql>
	<select id="findByQueryParam" resultMap="ResultMap_FindByQueryParam">
		select
		<include refid="Base_Column_List_OrderLine"></include>
		from order_line ol where 1=1
		<include refid="Condition_FindByQueryParam"></include>
		<if test="queryParam.sortOrders!=null and queryParam.sortOrders.size() gt 0">
			order by 
			<foreach collection="queryParam.sortOrders" item="item" separator=",">
				${item.sortField.sqlColumn} ${item.sortType}
			</foreach>
		</if>
		<if test="queryParam.limit gt 0">
	  		limit ${queryParam.start},${queryParam.limit}
	  	</if>
	</select>
	<select id="countByQueryParam" resultType="long">
		select count(1) from order_line ol where 1=1
		<include refid="Condition_FindByQueryParam"></include>
	</select>
	
	<!-- 实体参数查询结果[END] -->
	<!-- 用户自定义 -->
	
</mapper>